---
layout: home
---

{% for conference in site.data.conferences %}
  <h2 id="{{ conference.id }}">{{ conference.title }}</h2>
  <ul>
  {% assign talks = site.data[conference.id] | sort: 'talk_title' %}

  {% for talk in talks %}
    {% if talk.processed == false %}
      <li id="{{ talk.video_id }}">
        <a href="https://youtu.be/{{ talk.video_id }}" title="{{ talk.talk_title }}">{{ talk.talk_title }}</a> by
        {% for speaker_id in talk.speakers %}
          {% assign speaker = site.data.speakers | where: "id", speaker_id | first %}

          {% if speaker.twitter %}
            <a href="https://twitter.com/{{ speaker.twitter }}" title="{{ speaker.full_name }}">{{ speaker.full_name }}</a>{% unless forloop.last %},{% endunless %}
          {% else %}
            <span>{{ speaker.full_name }}</span>{% unless forloop.last %},{% endunless %}
          {% endif %}
        {% endfor %}
      </li>
    {% else %}
      {% continue %}
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}
