<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33420511-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-33420511-4');
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Every elixir video</title>
    <style>
      body {
        font-family: "PT Sans"
      }

      .video_details {
        font-size: 75%;
        padding-left: 13px;
        color: #999
      }

      .anchor {
        text-decoration: none;
        color: #999
      }

      .anchor:hover {
        text-decoration: none;
        color: #0000EE
      }

      .talk {
        list-style-type: none;
        padding: 4px
      }

      .talk:target {
        background-color: #fffbdd;
      }
    </style>
  </head>

  <body>
    <h1>Every Elixir Video Page</h1>
    <p><small>The source code is available on <a href="https://github.com/gmile/everyelixirvideo.page">github</a></small>.</p>
    {{ content }}
  </body>
</html>
