<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33420511-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-33420511-4');
      gtag('config', 'UA-33420511-4', {'page_path': "/"});
    </script>
    <title>Every elixir video</title>
    <style>
      body {
        font-family: "PT Sans"
      }
    </style>
  </head>

  <body>
    <h1>Every Elixir Video Page</h1>
    <p><small>The source code is available on <a href="https://github.com/gmile/everyelixirvideo.page">github</a></small>.</p>
    {{ content }}
  </body>
</html>
